SERVER_PORT=3000 # Port for what server is to run on : type int

# Database definitons
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=1234
DB_NAME=social_test

DB_TABLE_POSTS=posts
DB_ELEMENT_POST_HEADER=postHeader
DB_ELEMENT_USERNAME=username