SERVER_PORT=3000 # Port for what server is to run on : type int

# Database definitons
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=1234
DB_NAME=social_test

DB_TABLE_POST=post
DB_ELEMENT_POST_TITLE=postTitle
DB_ELEMENT_USER_NAME=username