SERVER_PORT=3000 # Port for what server is to run on : type int

# Database definitons
DB_HOST=localhost # : type string
DB_USER=root # : type string
DB_PASSWORD=1234 # : type string
DB_NAME=social_test # : type string

DB_TABLE_POSTS=posts
DB_ELEMENT_POST_HEADER=postHeader
DB_ELEMENT_USERNAME=username

# Session & Encryption
SESSION_SECRET=dev-secret # Session secret for signing cookies, needs to be changed for production : type string
SALT_ROUNDS=12 # Amount of salt rounds : type int