<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Font From Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Document</title>
</head>
<body>
  <header class="topRow">
    <input class="search" type="text" spellcheck="true" maxlength="100"
    placeholder="Search">
    <form action="/user/this_guy">
      <button id="standardButton" onclick=""> 
        Username
      </button>
    </form>
    <a href="/user/this_guy"> 
      <div class="profile"></div>
    </a>
  </header>
  <main>
    
  </main>
  <footer class="footer">
    <p class="info">
      Contact
    </p>
    <a class="github" href="https://github.com/SonnyVincenzo/SoftwareDevelopment_Project_NodeJs_SocialMedia">
      Github
    </a>
  </footer>
</body>
</html>