<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Font From Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/post.css">
    <script defer src="/public/js/post.js"></script>
    <title>NewPost</title>
</head>

<body>
  <header class="header">
    <p class="username">New Post - Username</p> <!-- Change element into a h1, and make the username be p as seperate element-->
    <form action="/home">
      <button id="exit" onclick=""> <!--ADD LINK-->
        &#10006;
      </button>
    </form>
  </header>
  <form class="container" method="post" action="/post">
    <input id="title" type="text" spellcheck="true" maxlength="100"
    placeholder="Post - Title" name="postHeader">
    <textarea
      id="mainBody" type="text" spellcheck="true" style="resize:none" name="postText" 
      placeholder="Post - Text" maxlength="300"></textarea> <!-- questioning use of "style" as that is a css attribute-->
    <button type="submit" id="standardButton">Share</button>
  </form>
</body>
</html>