<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post View</title>
</head>
<body>
    <h1 id="">View %%post%% content</h1> 
        <!-- 
            As you can see "%%post%%" is encapsulated with 2 procent symbols, 
            please continue using double procents to ensure templating to work.
            We encapsulate dynamic things from db to be inside %% (or something else depending on project)
            and in the backend it would be an eassier time to append the desired format of html structure.
        -->
    <p>Post content design for existing posts (from query search, ex: /post?id=123, and design appropiate template for general posts).</p>
</body>
</html>