<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/signup-login.css">
    <title>Signup</title>
</head>

<body>
    <header>
        <!--<nav>
            <a href="/home" class="standardButton">Home</a>
        </nav>-->
    </header>

    <main>
        <form method="post" action="/auth/signup">
            <div class="username-container user-input">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="password-container user-input">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>

            <div class="dob-container user-input">
                <label for="dob">Enter your Date of Birth</label>
                <input type="date" id="dob" name="dob" required>
            </div>

            <div class="tos">
                <input type="checkbox" id="tos" name="tos" required>
                <label for="tos">Do you agree to the terms of service?</label>
            </div>

            <button class="standardButton">Sign up</button>
            <a href="/auth/login">Login</a>
        </form>
    </main>

</body>

<footer class="footer">
    <h2 class="title">Contact</h2>
    <a class="github" href="https://github.com/SonnyVincenzo/SoftwareDevelopment_Project_NodeJs_SocialMedia">
      Github
    </a>
</footer>

</html>