<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/signup.css">
    <title>Signup</title>
</head>

<body>
    <nav>
        <button class="standardButton">Home</button>
    </nav>

    <div class="signup-container">
        <form method="post" action="/auth/signup">
            <div class="username">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="password">
                <label for="password">Password</label>
                <input type="text" id="password" name="password" required>
            </div>

            <div class="dob">
                <label for="dob">Enter your Date of Birth</label>
                <input type="date" id="dob" name="dob" required>
            </div>

            <div class="tos">
                <label for="tos">Do you agree to the terms of service?</label>
                <input type="checkbox" id="tos" name="tos" required>
            </div>

            <button class="standardButton">Signup</button>

        </form>
    </div>

</body>

</html>