<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/user.css">
    <script defer type="module" src="/public/js/like.js"></script>
    <title>Profile Page</title>
</head>

<body>
    <header>
        <a class="aButton" href="/home">Home</a>
    </header>

    <main>
        <div class="profile-column">
            <div class="profile"></div> <div class="profileName">
                <h1>%%fullName%%</h1>
                <h5>%%username%%</h5>

                <div class="profileDescription">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
                </div>

                <div class="profileButtons">
                    <button class="standardButton">Follow</button>
                    <span>|</span>
                    <button class="standardButton">Message</button>
                </div>
            </div>
        </div>

        <div class="posts-column">
            <div class="post-header">
                <h2>Posts</h2>
                <a class="aButton" href="/post">New Post</a>
            </div>

            <article class="post-board">
                %%posts%%
            </article>
        </div>
    </main> 
</body>

<footer class="footer">
    <h2 class="title">Contact</h2>
    <a class="github" href="https://github.com/SonnyVincenzo/SoftwareDevelopment_Project_NodeJs_SocialMedia">
      Github
    </a>
</footer>
</html>